<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/signin" method="post">
        {% csrf_token %}
        <div class="">
          <label for="">Username</label>
          <input type="text" class="" id="username" name="username" placeholder="Enter Username">
        </div>
        <div class="">
          <label for="">Password</label>
          <input type="password" class="" id="pass1" name="pass1" placeholder="EnterPassword">
        </div>
        
        <button type="submit" class="">Sign In</button>
      </form>
</body>
</html>